body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}
/* Стиль шапки */
header {
  background-color: #f0891b;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Стиль логотипа */
.logo img {
  width: 45px;
  height: auto;
}
/* Стиль навигационного меню */
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.menu li {
  margin-right: 10px;
}
/* Добавленные стили */
.menu li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
/* Добавленные стили */
.menu li a:hover {
  font-size: 18px;
  transition: font-size 0.3s ease-in-out;
}
/* Стиль значка корзины */
.menu li.cart-item {
  position: relative;
}
.menu li.cart-item img {
  width: 21px;
  height: auto;
  margin-right: 5px;
}
/* Стиль значка учетной записи */
.menu li.account-item {
  position: relative;
}
.menu li.account-item img {
  width: 21px;
  height: auto;
  margin-right: 5px;
}       
/* Стиль основного блока */
.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  padding-top: 110px;
}
img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
p {
  font-size: 20px;
  margin-bottom: 10px;
}
/* Стиль подвала */
footer {
  background-color: #f0891b;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
/* Стиль логотипа */
.footer-logo img {
  width: 45px;
  height: auto;
}
/* Стиль ссылок на социальные сети */
.social-icons {
  display: flex;
  align-items: center;
}
.social-icons img {
  width: 23px;
  height: auto;
  margin-right: 10px;
}